*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:white;
    color:#111;
}

/* HEADER */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    border-bottom:1px solid #eee;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:800;
    letter-spacing:3px;
}

nav a{
    text-decoration:none;
    color:black;
    margin-left:25px;
    font-size:14px;
    font-weight:600;
}

/* HERO */

.hero{
    margin-top:80px;
    height:100vh;
    background:url("BANNER1.jpeg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    color:white;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:25px;
}

.hero-btn{
    background:white;
    color:black;
    text-decoration:none;
    padding:14px 30px;
    font-weight:bold;
}

/* SECTION TITLE */

.section-title{
    text-align:center;
    padding:60px 0 40px;
}

.section-title h2{
    font-size:34px;
    letter-spacing:3px;
}

/* PRODUCTS */

.products{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    padding-bottom:80px;
}

.card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:500px;
    object-fit:cover;
}

.card h3{
    padding:15px 20px 5px;
    font-size:18px;
}

.card p{
    padding:0 20px;
    color:#666;
    font-size:15px;
}

.card button{
    margin:15px 20px 20px;
    padding:10px 20px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
}

/* SECOND BANNER */

.banner2{
    background:black;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.banner2 h2{
    font-size:40px;
    margin-bottom:15px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:40px;
    border-top:1px solid #eee;
}

footer h3{
    margin-bottom:10px;
}

/* MOBILE */

@media(max-width:768px){

    .products{
        grid-template-columns:1fr;
    }

    .hero-content h1{
        font-size:40px;
    }

    .card img{
        height:350px;
    }

    nav{
        display:none;
    }

}
